.box {
  height: 240px;
  width: 50vw;
  background-color: #d6f0fd;
  padding: 10px;
  border: 1px solid;
  border-radius: 15px;
}

.inp {
  display: flex;
  gap: 20px;
}

input {
  width: 450px;
}

body {
  margin-left: 15px;
}

.warning {
  color: red;
}
